In [1]:
# importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Visualización
# ------------------------------------------------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns

# Evaluar linealidad de las relaciones entre las variables
# ------------------------------------------------------------------------------
from scipy.stats import shapiro, kstest

# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

# Gestión de los warnings
# -----------------------------------------------------------------------
import warnings
warnings.filterwarnings("ignore")

In [31]:
df_brands = pd.read_csv("files/sustainable_fashion_trends_2024.csv")

df_brands.head()

,Brand_ID,Brand_Name,Country,Year,Sustainability_Rating,Material_Type,Eco_Friendly_Manufacturing,Carbon_Footprint_MT,Water_Usage_Liters,Waste_Production_KG,Recycling_Programs,Product_Lines,Average_Price_USD,Market_Trend,Certifications
0,BRAND-0001,Brand_1,Australia,2018,D,Tencel,No,1.75,4511152.79,97844.11,No,2,38.33,Growing,GOTS
1,BRAND-0002,Brand_2,Japan,2015,D,Vegan Leather,Yes,124.39,1951566.31,37267.75,No,15,250.07,Growing,GOTS
2,BRAND-0003,Brand_3,USA,2024,A,Vegan Leather,No,336.66,467454.52,38385.92,No,2,146.16,Growing,B Corp
3,BRAND-0004,Brand_4,Italy,2023,D,Bamboo Fabric,No,152.04,899576.90,32665.45,No,13,165.52,Stable,OEKO-TEX
4,BRAND-0005,Brand_5,USA,2016,D,Bamboo Fabric,Yes,415.63,1809219.90,37295.47,Yes,19,211.63,Stable,Fair Trade

In [32]:
df_brands['Certifications'].unique()

array(['GOTS', 'B Corp', 'OEKO-TEX', 'Fair Trade', nan], dtype=object)

In [33]:
for columna in df_brands:
    print(f'La columna {columna} tiene estos valores únicos:')
    print(df_brands[columna].unique())
    print('----------------------------')

La columna Brand_ID tiene estos valores únicos:
['BRAND-0001' 'BRAND-0002' 'BRAND-0003' ... 'BRAND-4998' 'BRAND-4999'
 'BRAND-5000']
----------------------------
La columna Brand_Name tiene estos valores únicos:
['Brand_1' 'Brand_2' 'Brand_3' ... 'Brand_4998' 'Brand_4999' 'Brand_5000']
----------------------------
La columna Country tiene estos valores únicos:
['Australia' 'Japan' 'USA' 'Italy' 'Brazil' 'France' 'India' 'UK'
 'Germany' 'China']
----------------------------
La columna Year tiene estos valores únicos:
[2018 2015 2024 2023 2016 2017 2022 2011 2012 2013 2020 2021 2014 2010
 2019]
----------------------------
La columna Sustainability_Rating tiene estos valores únicos:
['D' 'A' 'B' 'C']
----------------------------
La columna Material_Type tiene estos valores únicos:
['Tencel' 'Vegan Leather' 'Bamboo Fabric' 'Recycled Polyester' 'Hemp'
 'Organic Cotton']
----------------------------
La columna Eco_Friendly_Manufacturing tiene estos valores únicos:
['No' 'Yes']
----------------------------
La columna Carbon_Footprint_MT tiene estos valores únicos:
[  1.75 124.39 336.66 ...  68.24 321.12 124.83]
----------------------------
La columna Water_Usage_Liters tiene estos valores únicos:
[4511152.79 1951566.31  467454.52 ...  317800.67  927539.68 3402552.7 ]
----------------------------
La columna Waste_Production_KG tiene estos valores únicos:
[97844.11 37267.75 38385.92 ... 81467.21 34506.22 81958.82]
----------------------------
La columna Recycling_Programs tiene estos valores únicos:
['No' 'Yes']
----------------------------
La columna Product_Lines tiene estos valores únicos:
[ 2 15 13 19 10 17 18 11  9  1 20  5  8  3 16 12 14  7  6  4]
----------------------------
La columna Average_Price_USD tiene estos valores únicos:
[ 38.33 250.07 146.16 ... 431.32 322.95 205.62]
----------------------------
La columna Market_Trend tiene estos valores únicos:
['Growing' 'Stable' 'Declining']
----------------------------
La columna Certifications tiene estos valores únicos:
['GOTS' 'B Corp' 'OEKO-TEX' 'Fair Trade' nan]
----------------------------

In [34]:
df_brands.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Brand_ID                    5000 non-null   object
 1   Brand_Name                  5000 non-null   object
 2   Country                     5000 non-null   object
 3   Year                        5000 non-null   int64
 4   Sustainability_Rating       5000 non-null   object
 5   Material_Type               5000 non-null   object
 6   Eco_Friendly_Manufacturing  5000 non-null   object
 7   Carbon_Footprint_MT         5000 non-null   float64
 8   Water_Usage_Liters          5000 non-null   float64
 9   Waste_Production_KG         5000 non-null   float64
 10  Recycling_Programs          5000 non-null   object
 11  Product_Lines               5000 non-null   int64
 12  Average_Price_USD           5000 non-null   float64
 13  Market_Trend                5000 non-null   object
 14  Certifications              3996 non-null   object
dtypes: float64(4), int64(2), object(9)
memory usage: 586.1+ KB

In [35]:
df_brands.describe().T

,count,mean,std,min,25%,50%,75%,max
Year,5000.0,2.016956e+03,4.347466e+00,2010.00,2.013000e+03,2017.000,2021.000,2024.00
Carbon_Footprint_MT,5000.0,2.503176e+02,1.428023e+02,1.04,1.266150e+02,250.650,372.255,499.93
Water_Usage_Liters,5000.0,2.517862e+06,1.429043e+06,50106.18,1.293087e+06,2499095.995,3763859.550,4999596.61
Waste_Production_KG,5000.0,5.010730e+04,2.874638e+04,1026.38,2.534080e+04,50466.340,74984.650,99947.85
Product_Lines,5000.0,1.043120e+01,5.706573e+00,1.00,5.000000e+00,10.000,15.000,20.00
Average_Price_USD,5000.0,2.593542e+02,1.377310e+02,20.02,1.428650e+02,258.615,378.595,499.94

In [36]:
df.isna().sum()

Unnamed: 0            0
productId             0
productName           0
brandName             0
url                   0
price                 0
stockState            0
comingSoon            0
colorName             0
isOnline           3166
colors                0
colorShades           0
newArrival            1
mainCatCode         159
details               0
materials             0
costumerSegment       0
productType           0
dtype: int64

In [37]:
df_brands.isna().sum()

Brand_ID                         0
Brand_Name                       0
Country                          0
Year                             0
Sustainability_Rating            0
Material_Type                    0
Eco_Friendly_Manufacturing       0
Carbon_Footprint_MT              0
Water_Usage_Liters               0
Waste_Production_KG              0
Recycling_Programs               0
Product_Lines                    0
Average_Price_USD                0
Market_Trend                     0
Certifications                1004
dtype: int64

In [39]:
df_shops = pd.read_csv("files/HM_all_stores.csv")

df_shops.head()

,storeCode,storeClass,name,phone,city,country,countryCode,longitude,latitude,timeZoneIndex,Mon_open_hours,Tue_open_hours,Wed_open_hours,Thu_open_hours,Fri_open_hours,Sat_open_hours,Sun_open_hours,streetName1,streetName2,state,address_string
0,AE0122,Red,Mirdiff city center,+971-42316646,Dubai,United Arab Emirates,AE,55.424840,25.226280,165.0,10:00-22:00,10:00-22:00,10:00-22:00,10:00-23:55,10:00-23:55,10:00-23:55,10:00-22:00,Mirdiff city center,Sheikh Mohammad Bin Zayed Road,Dubai,Mirdiff city center;Sheikh Mohammad Bin Zayed ...
1,AE0149,Flagship,Dubai Mall,+971-44190346,Dubai,United Arab Emirates,AE,55.278446,25.197506,165.0,10:00-23:00,10:00-23:00,10:00-23:00,10:00-23:55,10:00-23:55,10:00-23:00,10:00-23:00,Dubai Mall,Sheikh Zayed Road,Dubai,Dubai Mall;Sheikh Zayed Road;Dubai;Dubai;Dubai
2,AE0209,Blue,Al Markaziyah,+971-26120870,Abu Dhabi,United Arab Emirates,AE,54.357462,24.487245,165.0,10:00-22:00,10:00-22:00,10:00-22:00,10:00-23:00,10:00-23:00,10:00-22:00,10:00-22:00,Al Markaziyah,World Trade Center Mall,Abu Dhabi,Al Markaziyah;World Trade Center Mall;123;Abu ...
3,AE0223,Blue,Abu Dhabi-Dubai Rd - Abu Dhabi,+971-26120851,Abu Dhabi,United Arab Emirates,AE,54.671499,24.523875,165.0,10:00-22:00,10:00-22:00,10:00-22:00,10:00-23:55,10:00-23:55,10:00-20:00,10:00-22:00,Abu Dhabi-Dubai Rd - Abu Dhabi,Al Bahia - Al Shahama,Abu Dhabi,Abu Dhabi-Dubai Rd - Abu Dhabi;Al Bahia - Al S...
4,AE0273,Flagship,Yas Mall,+971-24926530,Abu Dhabi,United Arab Emirates,AE,54.609720,24.488684,165.0,10:00-22:00,10:00-22:00,10:00-22:00,10:00-23:55,10:00-23:55,10:00-22:00,10:00-22:00,Yas Mall,NaN,Abu Dhabi,Yas Mall;;x;Abu Dhabi

In [40]:
df_shops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4292 entries, 0 to 4291
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   storeCode       4292 non-null   object
 1   storeClass      4289 non-null   object
 2   name            4290 non-null   object
 3   phone           4140 non-null   object
 4   city            4292 non-null   object
 5   country         4292 non-null   object
 6   countryCode     4292 non-null   object
 7   longitude       4292 non-null   float64
 8   latitude        4292 non-null   float64
 9   timeZoneIndex   4289 non-null   float64
 10  Mon_open_hours  4258 non-null   object
 11  Tue_open_hours  4258 non-null   object
 12  Wed_open_hours  4258 non-null   object
 13  Thu_open_hours  4258 non-null   object
 14  Fri_open_hours  4258 non-null   object
 15  Sat_open_hours  4258 non-null   object
 16  Sun_open_hours  3148 non-null   object
 17  streetName1     4292 non-null   object
 18  streetName2     1827 non-null   object
 19  state           2431 non-null   object
 20  address_string  4292 non-null   object
dtypes: float64(3), object(18)
memory usage: 704.3+ KB

In [41]:
for columna in df_shops:
    print(f'La columna {columna} tiene estos valores únicos:')
    print(df_shops[columna].unique())
    print('----------------------------')

La columna storeCode tiene estos valores únicos:
['AE0122' 'AE0149' 'AE0209' ... 'ZA0030' 'ZA0032' 'ZA0040']
----------------------------
La columna storeClass tiene estos valores únicos:
['Red' 'Flagship' 'Blue' 'F' nan]
----------------------------
La columna name tiene estos valores únicos:
['Mirdiff city center' 'Dubai Mall' 'Al Markaziyah' ...
 'Cresta Shopping Centre' 'Eikestad Mall' 'Westgate Shopping Centre']
----------------------------
La columna phone tiene estos valores únicos:
['+971-42316646' '+971-44190346' '+971-26120870' ... '+84-2862856089'
 '+84-2836220697' '+27-860690707']
----------------------------
La columna city tiene estos valores únicos:
['Dubai' 'Abu Dhabi' 'Fujairah' ... 'Richards Bay' 'East London'
 'Bloemfontein']
----------------------------
La columna country tiene estos valores únicos:
['United Arab Emirates' 'Austria' 'Australia' 'Bosnia and Herzegovina'
 'Belgium' 'Bulgaria' 'Bahrain' 'Belarus' 'Canada' 'Switzerland' 'Chile'
 'Mainland China' 'Colombia' 'Cyprus' 'Czech Republic' 'Germany' 'Denmark'
 'Estonia' 'Egypt' 'Spain' 'Finland' 'France' 'UK' 'Georgia' 'Greece'
 'Hong Kong SAR' 'Croatia' 'Hungary' 'Indonesia' 'Ireland' 'Israel'
 'India' 'Iceland' 'Italy' 'Jordan' 'Japan' 'Korea, Republic of' 'Kuwait'
 'Kazakhstan' 'Lebanon' 'Lithuania' 'Luxembourg' 'Latvia' 'Morocco'
 'Macao SAR' 'Mexico' 'Malaysia' 'Netherlands' 'Norway' 'New Zealand'
 'Oman' 'Panama' 'Peru' 'Philippines' 'Poland' 'USA' 'Portugal' 'Qatar'
 'Romania' 'Serbia' 'Russian Federation' 'Saudi Arabia' 'Sweden'
 'Singapore' 'Slovenia' 'Slovakia' 'Thailand' 'Tunisia' 'Turkey'
 'Taiwan Region' 'Ukraine' 'Uruguay' 'Viet Nam' 'South Africa']
----------------------------
La columna countryCode tiene estos valores únicos:
['AE' 'AT' 'AU' 'BA' 'BE' 'BG' 'BH' 'BY' 'CA' 'CH' 'CL' 'CN' 'CO' 'CY'
 'CZ' 'DE' 'DK' 'EE' 'EG' 'ES' 'FI' 'FR' 'GB' 'GE' 'GR' 'HK' 'HR' 'HU'
 'ID' 'IE' 'IL' 'IN' 'IS' 'IT' 'JO' 'JP' 'KR' 'KW' 'KZ' 'LB' 'LT' 'LU'
 'LV' 'MA' 'MO' 'MX' 'MY' 'NL' 'NO' 'NZ' 'OM' 'PA' 'PE' 'PH' 'PL' 'US'
 'PT' 'QA' 'RO' 'RS' 'RU' 'SA' 'SE' 'SG' 'SI' 'SK' 'TH' 'TN' 'TR' 'TW'
 'UA' 'UY' 'VN' 'ZA']
----------------------------
La columna longitude tiene estos valores únicos:
[55.42484  55.278446 54.357462 ... 27.983647 18.859995 27.86197 ]
----------------------------
La columna latitude tiene estos valores únicos:
[ 25.22628   25.197506  24.487245 ... -26.127327 -33.934854 -26.13721 ]
----------------------------
La columna timeZoneIndex tiene estos valores únicos:
[165. 100. 255. 225. 245. 155. 115. 158. 145.  35.   4.  10.  50.  20.
  60.  56. 210.  nan 215.  45. 130. 110. 120.  85. 205. 227. 135. 190.
 235. 230. 195.  90.  30.  33. 290.  95. 180. 170. 207. 201. 270. 185.
 113. 220. 125.  40.   2.   3.  70. 140.]
----------------------------
La columna Mon_open_hours tiene estos valores únicos:
['10:00-22:00' '10:00-23:00' '10:00-22:30' '00:00-23:55' nan '09:00-19:00'
 '09:30-19:00' '09:00-20:00' '09:00-18:30' '08:30-18:00' '09:00-19:30'
 '09:30-20:00' '09:00-18:00' '09:00-21:00' '08:30-18:30' '10:00-20:00'
 '10:00-19:00' '09:30-18:00' '09:00-17:30' '10:00-17:30' '09:00-17:00'
 '09:30-18:30' '10:00-18:30' '09:30-19:30' '10:00-18:00' '10:00-19:30'
 '10:00-21:00' '11:00-19:00' '09:30-17:30' '09:30-21:00' '11:00-17:00'
 '10:00-17:00' '11:00-18:00' '08:30-20:00' '08:30-19:00' '08:00-21:00'
 '09:30-21:30' '10:00-21:30' '11:00-22:00' '11:00-23:00' '09:30-20:30'
 '10:00-20:30' '09:30-22:00' '08:00-22:00' '09:30-22:30' '11:00-21:00'
 '09:10-19:30' '09:00-22:00' '10:00-21:50' '10:00-10:00' '11:00-21:30'
 '10:30-22:00' '11:00-20:00' '08:00-18:00' '10:00-23:55' '10:00-00:00'
 '00:00-00:00' '09:30-17:00' '10:30-23:00' '10:30-22:30' '10:30-00:00'
 '09:30-23:00' '12:00-20:30' '12:00-21:00' '11:30-21:30' '12:00-20:00'
 '11:00-20:30' '13:30-21:30' '09:00-20:30' '08:30-21:30' '14:00-20:30'
 '08:30-21:00' '10:15-21:00' '09:00-21:30' '10:30-21:30' '10:30-21:00'
 '10:30-20:00' '11:30-22:30' '10:30-20:30' '09:00-23:00' '12:00-17:00'
 '13:00-17:00' '06:00-23:00' '10:00-23:30' '08:00-23:00' '09:30-23:30'
 '11:00-22:30' '12:00-19:00' '12:00-18:00' '09:00-19:15']
----------------------------
La columna Tue_open_hours tiene estos valores únicos:
['10:00-22:00' '10:00-23:00' '10:00-22:30' '00:00-23:55' nan '09:00-19:00'
 '09:30-19:00' '09:00-20:00' '09:00-18:30' '08:30-18:00' '09:00-19:30'
 '09:30-20:00' '09:00-18:00' '09:00-21:00' '08:30-18:30' '10:00-20:00'
 '10:00-19:00' '09:30-18:00' '09:00-17:30' '10:00-17:30' '09:00-17:00'
 '09:30-18:30' '10:00-18:30' '09:30-19:30' '10:00-18:00' '10:00-19:30'
 '10:00-21:00' '11:00-19:00' '09:30-17:30' '09:30-21:00' '11:00-17:00'
 '10:00-17:00' '11:00-18:00' '08:30-20:00' '08:30-19:00' '08:00-21:00'
 '09:30-21:30' '10:00-21:30' '11:00-22:00' '11:00-23:00' '09:30-20:30'
 '10:00-20:30' '09:30-22:00' '08:00-22:00' '09:30-22:30' '11:00-21:00'
 '09:10-19:30' '09:00-22:00' '10:00-21:50' '10:00-10:00' '11:00-21:30'
 '10:30-22:00' '11:00-20:00' '08:00-18:00' '10:00-23:55' '10:00-00:00'
 '00:00-00:00' '09:30-17:00' '10:30-23:00' '10:30-22:30' '10:30-00:00'
 '09:30-23:00' '12:00-20:30' '12:00-21:00' '11:30-21:30' '12:00-20:00'
 '11:00-20:30' '13:30-21:30' '09:00-20:30' '08:30-21:30' '08:30-21:00'
 '10:15-21:00' '09:00-21:30' '10:30-21:30' '10:30-21:00' '10:30-20:00'
 '11:30-22:30' '10:30-20:30' '09:00-23:00' '06:00-23:00' '10:00-23:30'
 '08:00-23:00' '09:30-23:30' '11:00-22:30' '12:00-19:00' '12:00-18:00'
 '09:00-19:15']
----------------------------
La columna Wed_open_hours tiene estos valores únicos:
['10:00-22:00' '10:00-23:00' '10:00-22:30' '00:00-23:55' nan '09:00-19:00'
 '09:30-19:00' '09:00-20:00' '09:00-18:30' '08:30-18:00' '09:00-19:30'
 '09:30-20:00' '09:00-18:00' '09:00-21:00' '08:30-18:30' '10:00-20:00'
 '10:00-19:00' '09:30-18:00' '09:00-17:30' '10:00-17:30' '09:00-17:00'
 '09:30-18:30' '10:00-18:30' '09:30-19:30' '10:00-18:00' '10:00-19:30'
 '10:00-21:00' '11:00-19:00' '10:00-20:30' '09:30-17:30' '09:30-21:00'
 '11:00-17:00' '10:00-17:00' '11:00-18:00' '08:30-20:00' '08:30-19:00'
 '08:00-21:00' '09:30-21:30' '10:00-21:30' '11:00-22:00' '11:00-23:00'
 '09:30-20:30' '09:30-22:00' '08:00-22:00' '09:30-22:30' '11:00-21:00'
 '09:10-19:30' '09:00-22:00' '10:00-21:50' '10:00-10:00' '11:00-21:30'
 '10:30-22:00' '11:00-20:00' '08:00-18:00' '10:00-23:55' '10:00-00:00'
 '00:00-00:00' '09:30-17:00' '10:30-23:00' '10:30-22:30' '10:30-00:00'
 '09:30-23:00' '12:00-20:30' '12:00-21:00' '11:30-21:30' '12:00-20:00'
 '11:00-20:30' '13:30-21:30' '09:00-20:30' '08:30-21:30' '08:30-21:00'
 '10:15-21:00' '09:00-21:30' '10:30-21:30' '10:30-21:00' '10:30-20:00'
 '11:30-22:30' '10:30-20:30' '09:00-23:00' '06:00-23:00' '10:00-23:30'
 '08:00-23:00' '09:30-23:30' '11:00-22:30' '12:00-19:00' '12:00-18:00'
 '09:00-19:15']
----------------------------
La columna Thu_open_hours tiene estos valores únicos:
['10:00-23:55' '10:00-23:00' '10:00-00:00' '00:00-23:55' '10:00-22:00' nan
 '09:00-19:00' '09:30-20:00' '09:00-20:00' '09:00-18:30' '08:30-18:00'
 '09:00-19:30' '09:30-21:00' '09:30-19:00' '09:00-18:00' '09:00-21:00'
 '08:30-18:30' '10:00-20:00' '10:00-21:00' '09:30-18:00' '09:00-17:30'
 '10:00-17:30' '10:00-19:00' '09:30-18:30' '10:00-18:30' '09:30-19:30'
 '10:00-18:00' '10:00-19:30' '11:00-19:00' '10:00-20:30' '11:00-17:00'
 '09:30-20:30' '11:00-18:00' '11:00-21:00' '08:30-20:00' '08:30-19:00'
 '08:00-21:00' '09:30-21:30' '10:00-21:30' '11:00-22:00' '11:00-23:00'
 '10:00-22:30' '09:30-22:00' '08:00-22:00' '09:30-22:30' '09:10-19:30'
 '09:00-22:00' '10:00-21:50' '10:00-10:00' '11:00-21:30' '10:30-22:00'
 '11:00-20:00' '08:00-18:00' '10:00-17:00' '09:30-17:30' '10:00-01:00'
 '00:00-00:00' '09:30-17:00' '09:00-17:00' '10:30-23:00' '10:30-22:30'
 '10:30-00:00' '09:30-23:00' '12:00-20:30' '12:00-21:00' '11:30-21:30'
 '12:00-20:00' '11:00-20:30' '13:30-21:30' '09:00-20:30' '08:30-21:30'
 '08:30-21:00' '10:15-21:00' '09:00-21:30' '10:30-21:30' '10:30-21:00'
 '10:30-20:00' '11:30-22:30' '10:30-20:30' '09:00-23:00' '09:30-23:30'
 '06:00-23:00' '06:00-23:55' '08:00-23:30' '10:00-23:30' '11:00-22:30'
 '12:00-19:00' '12:00-18:00' '09:00-19:15']
----------------------------
La columna Fri_open_hours tiene estos valores únicos:
['10:00-23:55' '10:00-23:00' '14:00-23:55' '10:00-00:00' '00:00-23:55'
 '10:00-22:00' nan '09:00-19:00' '09:30-20:00' '09:00-20:00' '09:00-18:30'
 '08:30-18:00' '09:00-19:30' '09:30-21:00' '09:30-19:00' '09:00-21:00'
 '09:00-18:00' '08:30-18:30' '10:00-20:00' '10:00-21:00' '09:30-18:00'
 '09:00-17:30' '10:00-17:30' '09:00-17:00' '10:00-19:00' '09:30-18:30'
 '10:00-18:30' '09:30-19:30' '10:00-19:30' '10:00-18:00' '11:00-18:00'
 '10:00-17:00' '11:00-19:00' '10:00-20:30' '11:00-17:00' '09:30-20:30'
 '11:00-21:00' '08:30-20:00' '08:30-21:00' '08:30-20:30' '08:00-21:00'
 '08:30-19:00' '09:30-22:00' '10:00-22:30' '09:30-21:30' '11:00-22:30'
 '11:00-23:00' '10:00-21:30' '08:00-22:00' '09:30-22:30' '09:30-23:00'
 '11:00-22:00' '09:10-19:30' '09:00-22:00' '10:00-22:15' '10:00-10:00'
 '10:30-22:30' '11:00-20:00' '08:00-18:00' '10:00-01:00' '00:00-00:00'
 '09:30-17:30' '09:30-17:00' '10:30-23:00' '10:30-22:00' '10:30-00:00'
 '10:30-23:59' '09:00-15:00' '09:00-14:30' '10:00-15:00' '09:30-15:00'
 '11:00-21:30' '12:00-20:30' '12:00-21:00' '11:30-21:30' '12:00-20:00'
 '11:00-20:30' '13:30-21:30' '09:00-20:30' '08:30-21:30' '10:15-21:00'
 '09:00-21:30' '12:00-22:00' '13:00-22:00' '14:00-22:00' '10:30-21:30'
 '10:30-21:00' '10:30-20:30' '11:30-23:00' '09:00-23:00' '13:30-23:00'
 '16:00-23:30' '16:30-23:00' '06:00-23:00' '14:00-23:30' '14:00-23:00'
 '06:00-23:55' '16:00-23:00' '14:30-23:00' '14:30-23:30' '16:30-23:30'
 '09:30-23:30' '10:00-16:00' '12:00-19:00' '12:00-18:00' '09:00-19:15']
----------------------------
La columna Sat_open_hours tiene estos valores únicos:
['10:00-23:55' '10:00-23:00' '10:00-22:00' '10:00-20:00' '10:00-00:00'
 '00:00-23:55' nan '09:00-18:00' '08:30-18:00' '09:30-18:00' '09:00-17:00'
 '10:00-18:00' '09:00-17:30' '09:30-19:00' '09:30-17:00' '09:00-21:00'
 '11:00-19:00' '10:00-19:00' '09:30-18:30' '10:00-18:30' '09:30-19:30'
 '10:00-19:30' '09:00-18:30' '09:30-20:00' '13:00-20:00' '12:00-20:00'
 '11:00-20:00' '10:00-17:00' '11:00-18:00' '10:00-21:00' '09:30-21:00'
 '11:00-17:00' '11:00-21:00' '09:00-19:00' '09:00-20:00' '08:00-17:00'
 '08:30-17:00' '08:00-18:00' '08:00-21:00' '08:30-20:00' '08:00-16:00'
 '08:30-16:00' '09:30-22:00' '10:00-22:30' '09:30-21:30' '11:00-22:30'
 '11:00-23:00' '09:30-20:30' '09:50-22:30' '10:00-21:30' '10:00-20:30'
 '08:00-22:00' '09:30-22:30' '09:30-23:00' '11:00-22:00' '09:10-19:30'
 '09:00-22:00' '10:00-22:15' '10:00-10:30' '10:00-10:00' '10:30-22:30'
 '10:00-16:00' '09:30-16:00' '09:00-16:00' '10:00-14:00' '11:00-16:00'
 '09:30-14:00' '10:00-15:00' '09:30-15:00' '10:00-01:00' '09:00-20:30'
 '00:00-00:00' '09:30-17:30' '10:00-17:30' '10:30-23:00' '10:30-22:00'
 '10:30-00:00' '10:30-23:59' '19:00-23:00' '19:00-22:30' '17:50-23:00'
 '12:00-23:00' '11:00-21:30' '12:00-20:30' '12:00-21:00' '11:30-21:30'
 '11:00-20:30' '13:30-21:30' '08:30-21:00' '08:30-21:30' '09:00-19:30'
 '09:00-21:30' '10:30-21:30' '10:30-21:00' '10:30-20:30' '11:30-23:00'
 '09:00-23:00' '06:00-23:00' '06:00-23:55' '08:00-23:00' '14:00-23:30'
 '09:30-23:30' '10:00-23:30' '11:00-15:00' '12:00-16:00' '08:00-15:00'
 '08:00-20:00' '12:00-19:00' '12:00-18:00' '09:00-17:15']
----------------------------
La columna Sun_open_hours tiene estos valores únicos:
['10:00-22:00' '10:00-23:00' '00:00-23:55' nan '10:00-19:00' '10:00-18:00'
 '10:00-17:00' '11:00-17:00' '09:30-18:00' '10:00-16:00' '09:00-21:00'
 '09:00-20:00' '10:00-21:00' '10:00-20:00' '10:00-19:30' '11:00-19:00'
 '11:00-18:00' '12:00-17:00' '12:00-18:00' '08:00-21:00' '09:30-20:00'
 '09:30-22:00' '10:00-22:30' '10:00-21:30' '09:30-21:00' '11:00-22:30'
 '11:00-23:00' '09:30-21:30' '09:30-20:30' '09:50-22:00' '10:00-20:30'
 '08:00-22:00' '09:30-22:30' '11:00-22:00' '09:10-19:30' '09:00-22:00'
 '10:00-21:50' '10:00-10:30' '10:00-10:00' '10:30-22:00' '11:00-20:00'
 '09:00-19:00' '11:00-15:00' '11:00-16:00' '10:00-15:00' '10:00-23:55'
 '10:00-00:00' '11:00-21:00' '11:00-21:30' '12:00-20:00' '12:00-21:00'
 '12:00-20:30' '12:00-16:00' '09:30-19:30' '10:30-16:30' '10:00-16:30'
 '00:00-00:00' '11:30-17:30' '10:00-18:30' '13:00-18:00' '09:30-17:00'
 '10:30-23:00' '10:30-22:30' '10:30-00:00' '09:00-18:00' '09:30-23:00'
 '11:30-21:30' '11:00-20:30' '13:30-21:30' '13:00-17:00' '09:00-20:30'
 '09:00-14:00' '11:00-19:30' '08:30-21:00' '08:30-13:30' '10:30-21:30'
 '10:30-21:00' '10:30-20:30' '11:30-22:30' '10:30-18:30' '09:00-23:00'
 '10:00-17:30' '06:00-23:00' '10:00-23:30' '08:00-23:00' '09:30-23:30'
 '13:00-16:00' '12:00-15:00' '12:00-19:00' '09:00-17:00' '09:00-17:15'
 '09:00-15:30' '09:00-15:00' '09:00-16:00']
----------------------------
La columna streetName1 tiene estos valores únicos:
['Mirdiff city center' 'Dubai Mall' 'Al Markaziyah' ...
 'Cnr Beyers Naude Drive and Weltevreden Road' '43 Andringa St'
 'Shop no: OOB-1, 120 Ontdekkers Road']
----------------------------
La columna streetName2 tiene estos valores únicos:
['Sheikh Mohammad Bin Zayed Road' 'Sheikh Zayed Road'
 'World Trade Center Mall' ... 'Westdene' 'Cresta Ext4, Randburg'
 'Roodepoort']
----------------------------
La columna state tiene estos valores únicos:
['Dubai' 'Abu Dhabi' 'Fujairah' 'Ras Al Khaimah' 'Sharjah' nan 'Salzburg'
 'Tirol' 'Steiermark' 'Niederösterreich' 'Wien' 'Oberösterreich' 'Kärnten'
 'Burgenland' 'Vorarlberg' 'Osttirol' 'Victoria' 'New South Wales'
 'Queensland' 'Western Australia' 'South Australia'
 'Australian Capital Territory' 'Tasmania' '(unknown)' 'Area 1' 'Area 3'
 'Area 4' 'Area 2' 'ON' 'QC' 'BC' 'AB' 'Québec' 'NB' 'NS' 'MB' 'PE' 'SK'
 'NF' 'Ontario' 'Manitoba' 'Zürich' 'Genève' 'Grisons' 'Luzern' 'Thurgau'
 'Vaud' 'Bern' 'Neuchâtel' 'Sankt Gallen' 'Valais' 'Schwyz' 'Solothurn'
 'Basel-Stadt' 'Zug' 'Ticino' 'Fribourg' 'Aargau' 'Schaffhausen' 'Uri'
 'Los Lagos' 'Zhejiang Province' 'Jiangsu Province' 'Shandong Province'
 'Yunnan Province' 'Liaoning Province' 'Beijing Municipality'
 'Guangdong Province' 'Shanghai Municipality' 'Tianjin Municipality'
 'Hebei Province' 'Henan Province' 'Sichuan Province'
 'Guangxi Zhuang A.R.' 'Anhui Province' 'Fujian Province'
 'Xinjiang Uyghur A.R.' 'Gansu Province' 'Heilongjiang Province'
 'Shanxi Province' 'Inner Mongolia A.R.' 'Hunan Province' 'Jilin Province'
 'Hainan Province' 'Chongqing Municipality' 'Hubei Province'
 'Shaanxi Province' 'Jiangxi Province' 'Guizhou Province'
 'Ningxia Hui Autonomous Region' 'Qinghai Province' 'D.C.' 'Cundinamarca'
 'Atlantico' 'Antioquia' 'Nordrhein-Westfalen' 'Bayern' 'Rheinland-Pfalz'
 'Saarland' 'Baden-Württemberg' 'Hessen' 'Thüringen' 'Sachsen-Anhalt'
 'Sachsen' 'Niedersachsen' 'Berlin Ost' 'Berlin West' 'Bremen' 'Hamburg'
 'Schleswig-Holstein' 'Mecklenburg-Vorpommern' 'Brandenburg' 'Cataluña'
 'Comunidad Valenciana' 'Aragón' 'Comunidad de Madrid' 'País Vasco'
 'Navarra' 'Andalucía' 'Castilla León' 'Murcia' 'Asturias' 'Baleares'
 'La Rioja' 'Galicia' 'Canarias' 'Castilla La Mancha' 'Extremadura'
 'Cantabria' 'Melilla' 'Madrid' 'Lombardia' 'Liguria' 'Emilia - Romagna'
 'Veneto' 'Lazio' 'Friùli - Venezia Giulia' 'Campania' 'Puglia' 'Calabria'
 'Trentino - Alto Adige' 'Sicilia' 'Abruzzo' 'Piemonte' 'Toscana' 'Umbria'
 'Marche' 'Molise' 'Sardegna' 'Almaty' 'Taraz' 'Area 5' 'D.F.' 'Jalisco'
 'Querétaro' 'Guanajuato' 'México, D.F.' 'Michoacan' 'Nuevo León'
 'Quintana Roo' 'Puebla' 'México' 'Veracruz' 'Sinaloa' 'Chiapas' 'Morelos'
 'Coahuila' 'Hidalgo' 'Yucatan' 'Tamaulipas' 'Aguascalientes' 'Chihuahua'
 'North Island' 'South Island' 'Lima' 'Mazowsze' 'Wielkopolska'
 'Pomorze Zachodnie' 'Dolny Śląsk' 'Pomorze' 'Małopolska' 'Śląsk'
 'Łódzkie' 'Warmia i Mazury' 'Kujawy i Pomorze' 'Lubelszczyzna' 'Podlasie'
 'Podkarpacie' 'Opolszczyzna' 'Lubuskie' 'Świętokrzyskie' 'Lisboa'
 'Montijo' 'Porto' 'Coimbra' 'Loures' 'Vale de Mourelos-Almada'
 'Matosinhos' 'Sintra' 'Viseu' 'Braga' 'Leiria' 'Algarve' 'Madeira'
 'Castelo Branco' 'Aveiro' 'Setúbal' 'Moscow Region' 'Московская область'
 'Ленинградская область' 'Ростовская область' 'Воронежская область'
 'Республика Татарстан' 'Свердловская область' 'Краснодарский край'
 'Самарская область' 'Volgograd Region' 'Республика Башкортостан'
 'Нижегородская область' 'Рязанская область' 'Ханты-Мансийский округ'
 'Пензенская область' 'Тюменская область' 'Волгоградская область'
 'Распублика Адыгея' 'Челябинская область' 'Ярославская область'
 'Иркутская область' 'Томская область' 'Omsk region' 'Красноярский край'
 'Архангельская область' 'Псковская область' 'Липецкая область'
 'Кемеровская область' 'Новосибирская область' 'Смоленская Область'
 'Республика Удмуртия' 'Республика Карелия' 'Алтайский край'
 'Саратовская область' 'Buryatya Republic' 'Орловская область'
 'Тульская Область' 'Ивановская область' 'Курская область'
 'Мурманская область' 'Республика Мордовия' 'Белгородская область'
 'Пермская область' 'Брянская область' 'Stavropol region'
 'Khanty-Mansiysk Region' 'Rostov Region' 'Приморский край'
 'Primorsky Kray' 'Курганская область' 'Orenburg Region'
 'Mary El republic' 'Kaliningrad region' 'Tatarstan Republic'
 'Tver Region' 'Vologda region' 'Kirov Region' 'Perm Region'
 'Nizhniy Novgorod Region' 'Khabarovskiy Kray' 'Sverdlovsk Region'
 'MARMARA' 'IC ANADOLU' 'GUNEYDOGU ANADOLU' 'AKDENIZ' 'KARADENIZ' 'EGE'
 'Kyiv region' 'Dnipropetrovsk' 'Odesa' 'Kharkov' 'New Jersey' 'New York'
 'Massachusetts' 'Virginia' 'Delaware' 'Pennsylvania' 'Maryland'
 'District of Columbia' 'Illinois' 'Connecticut' 'Indiana' 'California'
 'Missouri' 'Wisconsin' 'Ohio' 'Michigan' 'Nevada' 'Washington' 'Georgia'
 'Colorado' 'Rhode Island' 'Florida' 'Minnesota' 'North Carolina' 'Texas'
 'Arizona' 'Oregon' 'Utah' 'Alabama' 'South Carolina' 'Idaho' 'Kansas'
 'Kentucky' 'Louisiana' 'Tennessee' 'Hawaii' 'New Mexico' 'Nebraska'
 'Mississippi' 'New Hampshire' 'Montana' 'Oklahoma' 'Iowa' 'MA'
 'West Virginia' 'Alaska' 'North Dakota' 'Maine' 'Arkansas' 'Vermont'
 'Western Cape' 'Kwazulu-Natal' 'Mpumalanga' 'Limpopo' 'Eastern Cape'
 'Free State' 'Gauteng']
----------------------------
La columna address_string tiene estos valores únicos:
['Mirdiff city center;Sheikh Mohammad Bin Zayed Road;Dubai;Dubai;Dubai'
 'Dubai Mall;Sheikh Zayed Road;Dubai;Dubai;Dubai'
 'Al Markaziyah;World Trade Center Mall;123;Abu Dhabi' ...
 'Cnr Beyers Naude Drive and Weltevreden Road;Cresta Ext4, Randburg;2195;PO Box 1, Cresta, 2118'
 '43 Andringa St;;7600;Stellenbosch Central;Western Cape'
 'Shop no: OOB-1, 120 Ontdekkers Road;Roodepoort;1725;Gauteng']
----------------------------

In [42]:
df_shops[df_shops['Sun_open_hours'].isna() == True].head()

,storeCode,storeClass,name,phone,city,country,countryCode,longitude,latitude,timeZoneIndex,Mon_open_hours,Tue_open_hours,Wed_open_hours,Thu_open_hours,Fri_open_hours,Sat_open_hours,Sun_open_hours,streetName1,streetName2,state,address_string
32,AE1435,Red,The Dubai Mall,NaN,Dubai,United Arab Emirates,AE,55.279791,25.199586,165.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,The Dubai Mall,Financial Center Road,Dubai,The Dubai Mall;Financial Center Road;X;Dubai
33,AT0003,Red,Forum 1,+43-8006655900,Salzburg,Austria,AT,13.044186,47.814383,100.0,09:00-19:00,09:00-19:00,09:00-19:00,09:00-19:00,09:00-19:00,09:00-18:00,NaN,Südtiroler Platz 11,NaN,Salzburg,Südtiroler Platz 11;;5020;Salzburg;Salzburg
34,AT0004,Blue,Stadtgalerien Schwaz,+43-8006655900,Schwaz,Austria,AT,11.706930,47.347280,100.0,09:00-19:00,09:00-19:00,09:00-19:00,09:00-19:00,09:00-19:00,09:00-18:00,NaN,Andreas Hofer-Strasse 10,NaN,Tirol,Andreas Hofer-Strasse 10;;6130;Schwaz;Tirol
35,AT0005,Blue,Shopping Nord,+43-8006655900,Graz,Austria,AT,15.398302,47.104565,100.0,09:00-19:00,09:00-19:00,09:00-19:00,09:00-19:00,09:00-19:00,09:00-18:00,NaN,Wiener Straße 351,NaN,Steiermark,Wiener Straße 351;;8051;Graz;Steiermark
36,AT0006,Red,G3 Shopping Resort Gerasdorf,+43-8006655900,Gerasdorf,Austria,AT,16.462314,48.342263,100.0,09:30-19:00,09:30-19:00,09:30-19:00,09:30-20:00,09:30-20:00,09:00-18:00,NaN,G3 Platz 1,NaN,Niederösterreich,G3 Platz 1;;2201;Gerasdorf bei Wien;Niederöste...

In [43]:
#Bucle para sacar si en todos los días hay NaN porque no tiene los datos de horario o si es un día en concreto que cierran.